
ОМСКНС/01. Гап-контакты. Аквапорины..docx
ОМСКНС/02. Пуриновые рецепторы. Подтипы, локализация в нейронах и астроцитах, функция в нервной системе..pptx
ОМСКНС/03. Синаптические везикулы.pptx
ОМСКНС/04. Цитоплазматическая мембрана нейрона. Состав, особенности строения..doc
ОМСКНС/05. Цитоскелет нервной клетки. Микротрубочки. Строение. Нуклеация, элонгация, диссоциация. Кэпирующие белки. Белки, ассоциированные с микротрубочками..pptx
ОМСКНС/05.1 Приложение.txt
ОМСКНС/06.  Митохондрии. Строение, функции. Деление, слияние, транспорт митохондрий. Митофагия. Механизмы, роль в функционировании нервных клеток..pptx
ОМСКНС/06.1 Комикс -- Тайная жизнь митохондрий.pdf
ОМСКНС/07. Виды и механизмы мембранного транспорта..docx
ОМСКНС/08. Цитоскелет нервной клетки. Актиновые филаменты.pptx
ОМСКНС/08.1. Приложение.txt
ОМСКНС/09. Эндоплазматический ретикулум. Строение, функции. Ретикулины..pptx
ОМСКНС/09.1 Приложение.txt
ОМСКНС/10.  Транспорт макромолекул в нервной клетке. Моторные белки. Кинезин. Динеин. Кинезин-динеиновый комплекс. Миозин..docx
ОМСКНС/11. Ионные каналы ЦПМн, Насосы.pptx
ОМСКНС/11.1 Приложение.txt
ОМСКНС/12. Белки mTOR.pptx
ОМСКНС/13. Ферруз.doc
ОМСКНС/14. Цитоскелет нервной клетки. Промежуточные филаменты. Строение, особенности состава нейрофиламентов..pptx
ОМСКНС/14.1 Приложение.txt
ОМСКНС/15. Рецепторы ацетилхолина. Никотиновые и мускариновые рецепторы. Особенности строения, функции..pptx
ОМСКНС/16. Negroptoz.pptx
ОМСКНС/17. Кальций в нервных клетках. Кальциевые каналы. Типы, подтипы. Представленность на различных популяциях нервных клеток. Функции..pptx
ОМСКНС/18. Ионотропные и метаботропные рецепторы на примере рецепторов глутамата. Представители, особенности строения и функционирования, роль в синаптической передаче. — копия.pptx
ОМСКНС/19. Внеклеточный матрикс мозга. Состав, функции. Клеточные контакты. Контакты клетки и матрикса.pptx
ОМСКНС/20. Кальций в нервных клетках. Роль как вторичного мессенджера. Роль в межклеточной сигнализации..pptx
ОМСКНС/20.1 Ловушка кальция.pdf
ОМСКНС/21. Аппарат Гольджи. Строение, функции..docx
ОМСКНС/22. Кальций-связывающие белки. Роль в функционировании нервных клеток и синаптической пластичности.pptx
ОМСКНС/23. Лизосомы. Строение, функции. Автофагия. Типы аутофагии, молекулярные механизмы..pptx
ОМСКНС/24. Молекулы клеточной адгезии. Роль в дифференцировке, росте, миграции, межклеточной сигнализации..pptx
ОМСКНС/25. Этапы созревания, транспорта и распада белковых молекул в нейронах..pptx
ОМСКНС/26. Внеклеточные везикулы, секретируемые нейронами, астроцитами и олигодендроцитами. Особенности строения, функции.pptx
ОМСКНС/27. Инозитол-3-фосфат (IP3) как вторичный мессенджер. Активируемые им молекулярные каскады. Роль в нервных клетках. Рецепторы инозитол-3-фосфата..pptx
ОМСКНС/From molecules to networks _ an introduction to cellular and molecular neuroscience.pdf
